body {
  background: #fff;
  font-family: arial, sans-serif;
}

* {
  box-sizing: border-box;
}
a:focus{
  outline: transparent;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  background: #e8ebf1;
  padding: 37px 0 47px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: 75px;
}
.menu_list{
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-left: 51px;
}
.menu_list:hover{
  color: #2aacc8;
}
.promo{
  background: #81e4ed;
}
.promo_container{
  position: relative;
}
.promo_picture{
  margin: 20px 0 40px;
}
.promo_text{
  width: 301px;
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 102px;
  left: 62px;
  line-height: 60px;
}