/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  background: #fff;
  font-family: arial, sans-serif;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus {
  outline: transparent;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  background: #e8ebf1;
  padding: 37px 0 47px;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 75px;
}

.menu_list {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-left: 51px;
}

.menu_list:hover {
  color: #2aacc8;
}

.promo {
  background: #81e4ed;
}

.promo_container {
  position: relative;
}

.promo_picture {
  width: 100%;
  margin: 20px 0 40px;
}

.promo_text {
  width: 301px;
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 102px;
  left: 62px;
  line-height: 60px;
}

.content {
  background: #e8ebf1;
  border-bottom: 1px solid #d9d9d9;
}

.content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0 50px;
}

.content_items {
  padding-right: 23px;
}

.content_item_last {
  padding: 0;
}

.content_items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_items_item_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content_items_item_title {
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.content_icon_pen {
  background: #2aacc8 url(../img/ic-pen.png) 50% no-repeat;
}

.content_icon_res {
  background: #2aacc8 url(../img/ic-responsive.png) 50% no-repeat;
}

.content_icon_stripes {
  background: #2aacc8 url(../img/ic-stripes.png) 50% no-repeat;
}

.content_icon_plane {
  background: #2aacc8 url(../img/ic-plane.png) 50% no-repeat;
}

.content_items_item_text {
  font-size: 13px;
  line-height: 20px;
  margin: 19px 19px 27px 0;
}

.content_items_item_link {
  font-size: 13px;
  color: #43b4cd;
  background: url(../img/ic-arrow.png) 2px 50% no-repeat;
  padding-left: 15px;
}

.content_items_item_link:hover {
  color: #000;
}

.works {
  padding-bottom: 22px;
  border-bottom: 1px solid #dfe1e5;
  background: url(../img/ic-cursor.png) 0 24px no-repeat;
}

.works_title_text {
  padding: 28px 0 19px 40px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #dfe1e5;
}

.works_items_pictures {
  padding: 20px 0 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works_items_pictures img {
  width: 220px;
  height: auto;
  display: block;
}

.works_items_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works_items_item_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0d0707;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  width: 240px;
  height: 60px;
  padding-left: 70px;
  background: url(../img/ic-download.png) 18px 15px no-repeat, -webkit-gradient(linear, left bottom, left top, from(#2aacc8), color-stop(15%, #60cede), color-stop(50%, #72dae6), to(#81e4ed));
  background: url(../img/ic-download.png) 18px 15px no-repeat, -o-linear-gradient(bottom, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
  background: url(../img/ic-download.png) 18px 15px no-repeat, linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
}

.works_items_item_btn:hover {
  opacity: 0.9;
}

.dialog {
  padding: 28px 0;
  background: url(../img/ic-msg.png) 0 22px no-repeat;
}

.dialog_title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 23px 40px;
}

.dialog_text {
  margin: 0 2px 35px 0;
}

.dialog_text, .dialog_author {
  font-size: 14px;
  line-height: 24px;
  color: #363636;
}

.dialog_author {
  font-weight: bold;
  font-style: italic;
}

footer {
  background: #e8ebf1;
  padding: 31px 0 33px;
  border-top: 1px solid #d9d9d9;
}

.footer_text {
  font-size: 13px;
  color: #363636;
  line-height: 18px;
}